.afficher_deux_lignes {
	height: 200px;
	margin: 10px;
	min-width: 200px;
	text-align: center;
}
.afficher_une_ligne {
	height: 200px;
	margin: 10px;
	min-width: 200px;
	line-height:200px;
	text-align: center;
}
body, html {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
.full{
	width:100%;
	height:100%;
	background-color: #000;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	color: #FFF;
	align: center;
}
.footer {
	position: absolute;
	bottom: 0;
}